<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock Paper Scissors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="game.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="hero">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand arrow" href="/" id="main-arrow">
                    < </a>
                        <a class="navbar-brand" href="/game" id="nav-logo">
                            <img src="./assets/logo.png" width="40em" height="40em" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-center">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/game" id="main-title">ROCK
                                        PAPER
                                        SCISSORS</a>
                                </li>
                            </ul>
                        </div>
            </div>
        </nav>
        <div class="container" id="hero=main">
            <div class="rps-btn" id="player">
                <h1 class="player-name d-inline-flex">PLAYER</h1>
                <section class="choose">
                    <div class="options">
                        <input type="image" data-option="rock" src="./assets/batu.png" class="img" width=80vh>
                        <input type="image" data-option="paper" src="./assets/kertas.png" class="img" width=70vh>
                        <input type="image" data-option="scissors" src="./assets/gunting.png" class="img" width=80vh>
                    </div>
                </section>
            </div>
            <div class="rps-menu">
                <div class="results">
                    <div class="init">VS</div>
                    <div class="you-win">PLAYER 1<br>WIN</div>
                    <div class="pc-win">COM<br>WIN</div>
                    <div class="draw">DRAW</div>
                </div>
                <div type="image" value="Reload Page" onClick="document.location.reload(true)">
                    <img src="./assets/refresh.png" width=50vh>
                </div>
            </div>
            <div class="rps-btn" id="COM">
                <h1 class="player-name d-inline-flex">COM</h1>
                <div class="options">
                    <input type="image" data-option="rock1" src="./assets/batu.png" class="img" width=80vh disabled>
                    <input type="image" data-option="paper1" src="./assets/kertas.png" class="img" width=70vh disabled>
                    <input type="image" data-option="scissors1" src="./assets/gunting.png" class="img" width=80vh
                        disabled>
                </div>
            </div>
        </div>

        </div>
    </header>
    <script src="game.js"></script>
</body>

</html>