<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="loginpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form hidden" id="register-form" method="POST"
                action="http://localhost:8080/api/v1/postRegister">
                <h2>Register still WIP (not working yet)</h2>
                <h3>Please sign in instead</h3>
                <input type="text" placeholder="Full name" id="reg-text" name="fullname" />
                <input type="email" placeholder="email address" id="reg-email" name="email" />
                <input type="password" placeholder="password" id="reg-password" name="password" />
                <button type="submit">Register</button>
                <p class="message">Already registered? <a class="open-login" href="#">Sign In</a></p>
            </form>
            <form class="login-form" id="login-form" method="post" action="http://localhost:8080/api/v1/login">
                <input type="email" placeholder="email" name="email" />
                <input type="password" placeholder="password" name="password" />
                <button>login</button>
                <p class="message">Not registered? <a class="open-register" href="#">Create an account</a></p>
            </form>
        </div>
    </div>
    <script src="loginpage.js"></script>
</body>

</html>